<% provide :title, t(".title_page") %>
<h1><%= t ".title_page" %></h1>
<p>
  <%= t ".the" %> <em><%= link_to  t(".ror_tuts"), Settings.rails.tuts %></em> <%= t ".is_a" %>
  <%= link_to t(".book"), Settings.rails.book %> <%= t ".and" %>
  <%= link_to t(".screencasts"), Settings.rails.screencasts %>
  <%= t ".rails_tuts_detail" %>
  <%= link_to t(".ror"), Settings.rails.home %>.
  <%= t ".content" %>
</p>
