<% provide :title, t(".title_page") %>
<h1><%= t ".title_page" %></h1>
<p>
  <%= t ".intro" %>
  <%= link_to t(".rails_help"), Settings.rails.help %>.
  <%= t ".content" %>
  <em><%= link_to t(".ror_tuts"), Settings.rails.book %></em>
  <%= t ".book" %></a>.
</p>
