<h1><%= t ".title_page" %></h1>
<p><%= t ".guide" %></p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, 
  email: @user.email) %>
<p><%= t ".expire" %></p>
<p><%= t ".notyou_questionmark" %></p>
