<p id="notice"><%= notice %></p>

<p>
  <strong><%= t ".label_name" %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t ".label_email" %>:</strong>
  <%= @user.email %>
</p>

<%= link_to t(".action_edit"), edit_user_path(@user) %> |
<%= link_to t(".users_index"), users_path %>
