<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".title_page"), Settings.rails.tuts %>
    <%= t ".by" %> <%= link_to t(".author"), Settings.rails.author_blog %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about_page"), about_path %></li>
      <li><%= link_to t(".contact_page"), contact_path %></li>
      <li><%= link_to t(".new_page"), Settings.rails.news %></li>
    </ul>
  </nav>
</footer>
